!!! 5
%html{ lang: "en" }
  %head
    %title San Francisco Food Trucks
    = stylesheet_link_tag "application"
    = csrf_meta_tags
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
  %body
    .container
      .page-header
        %h1
          San Francisco Food Trucks
          %small Find a great lunch spot near you
      = yield
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDW6FIHuSmYXIecG6wMnKjYbF7q91BnTyc&sensor=false"
    = javascript_include_tag "application"
    = yield :truck_data
